body {
  background-color: #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes shrink {
  100% {
    -webkit-transform: scaleX(0.73) scaleY(0.73) ;
            transform: scaleX(0.73) scaleY(0.73) ;
  }
}
@keyframes shrink {
  100% {
    -webkit-transform: scaleX(0.73) scaleY(0.73) ;
            transform: scaleX(0.73) scaleY(0.73) ;
  }
}
@-webkit-keyframes hideshow {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}
@keyframes hideshow {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}
@-webkit-keyframes disappear {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 0; }
}
@keyframes disappear {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 0; }
}
@-webkit-keyframes appear {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
@keyframes appear {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
@-webkit-keyframes glitch{
  2%,64%{
    -webkit-transform: translate(2px,0) skew(0deg);
            transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    -webkit-transform: translate(-2px,0) skew(0deg);
            transform: translate(-2px,0) skew(0deg);
  }
  62%{
    -webkit-transform: translate(0,0) skew(5deg);
            transform: translate(0,0) skew(5deg); 
  }
}
@keyframes glitch{
  2%,64%{
    -webkit-transform: translate(2px,0) skew(0deg);
            transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    -webkit-transform: translate(-2px,0) skew(0deg);
            transform: translate(-2px,0) skew(0deg);
  }
  62%{
    -webkit-transform: translate(0,0) skew(5deg);
            transform: translate(0,0) skew(5deg); 
  }
}
@-webkit-keyframes glitchUp{
  2%,64%{
    -webkit-transform: translate(2px,-2px);
            transform: translate(2px,-2px);
  }
  4%,60%{
    -webkit-transform: translate(-2px,2px);
            transform: translate(-2px,2px);
  }
  62%{
    -webkit-transform: translate(5px,-1px) skew(-1deg);
            transform: translate(5px,-1px) skew(-1deg); 
  }
}
@keyframes glitchUp{
  2%,64%{
    -webkit-transform: translate(2px,-2px);
            transform: translate(2px,-2px);
  }
  4%,60%{
    -webkit-transform: translate(-2px,2px);
            transform: translate(-2px,2px);
  }
  62%{
    -webkit-transform: translate(5px,-1px) skew(-1deg);
            transform: translate(5px,-1px) skew(-1deg); 
  }
}
@-webkit-keyframes glitchDown{
  2%,64%{
    -webkit-transform: translate(-2px,0);
            transform: translate(-2px,0);
  }
  4%,60%{
    -webkit-transform: translate(-2px,0);
            transform: translate(-2px,0);
  }
  62%{
    -webkit-transform: translate(-5px,5px) skew(15deg);
            transform: translate(-5px,5px) skew(15deg); 
  }
}
@keyframes glitchDown{
  2%,64%{
    -webkit-transform: translate(-2px,0);
            transform: translate(-2px,0);
  }
  4%,60%{
    -webkit-transform: translate(-2px,0);
            transform: translate(-2px,0);
  }
  62%{
    -webkit-transform: translate(-5px,5px) skew(15deg);
            transform: translate(-5px,5px) skew(15deg); 
  }
}
@-webkit-keyframes slowGlitch{
  1%,3%{
    -webkit-transform: translate(-1px,0);
            transform: translate(-1px,0);
  }
  2%,4%{
    -webkit-transform: translate(-1px,0);
            transform: translate(-1px,0);
  }
  5%{
    -webkit-transform: translate(-2px,2px) skew(-3deg);
            transform: translate(-2px,2px) skew(-3deg); 
  }
  6% {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes slowGlitch{
  1%,3%{
    -webkit-transform: translate(-1px,0);
            transform: translate(-1px,0);
  }
  2%,4%{
    -webkit-transform: translate(-1px,0);
            transform: translate(-1px,0);
  }
  5%{
    -webkit-transform: translate(-2px,2px) skew(-3deg);
            transform: translate(-2px,2px) skew(-3deg); 
  }
  6% {
    -webkit-transform: none;
            transform: none;
  }
}

#overlay {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 250px;
  overflow: hidden;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.static-bg {
  position: absolute;
}
.frame1_trans {
  overflow: hidden;
  -webkit-animation: disappear 100ms linear 1200ms;
          animation: disappear 100ms linear 1200ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.frame1_black {
  position: absolute;
  -ms-grid-column-align: end;
      justify-self: end;
  z-index: 1;
  overflow: hidden;
}
.frame1_txt {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  z-index: 1;
  position: absolute;
  -webkit-animation: hideshow 100ms linear 2s;
          animation: hideshow 100ms linear 2s;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.frame2_trans {
  overflow: hidden; 
  opacity: 0;
  -webkit-animation: appear, disappear;
          animation: appear, disappear;
  -webkit-animation-duration: 10ms;
          animation-duration: 10ms;
  -webkit-animation-delay: 1500ms, 7s;
          animation-delay: 1500ms, 7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.frame2_face {
  position: absolute;
  -ms-grid-column-align: end;
      justify-self: end;
  z-index: 1;
  overflow: hidden;
}
.frame2_message {
  z-index: 1;
  position: absolute;
  -webkit-animation: hideshow 200ms linear 2s;
          animation: hideshow 200ms linear 2s;
}
.frame2_shrink {
  -webkit-animation: shrink 200ms linear 2.5s 1 forwards;
          animation: shrink 200ms linear 2.5s 1 forwards;
  -webkit-transform-origin: -60px 50px;
      -ms-transform-origin: -60px 50px;
          transform-origin: -60px 50px;
}

.frame3 {
  z-index: 10;
  opacity: 0;
  position: absolute;
  -webkit-animation: appear 20ms linear 3.2s forwards;
          animation: appear 20ms linear 3.2s forwards;
  -webkit-animation-duration: 20ms;
          animation-duration: 20ms;
  -webkit-animation-delay: 3.2;
          animation-delay: 3.2;
}
.frame3_hacking {
  position: absolute;
  opacity: 0;
  -webkit-animation: glitch, glitchUp, glitchDown, appear;
          animation: glitch, glitchUp, glitchDown, appear;
  -webkit-animation-duration: 600ms, 200ms, 800ms, 20ms;
          animation-duration: 600ms, 200ms, 800ms, 20ms;
  -webkit-animation-delay: 4s, 5s, 6s, 4s;
          animation-delay: 4s, 5s, 6s, 4s;
  -webkit-animation-iteration-count: 2, 1, 1, 1;
          animation-iteration-count: 2, 1, 1, 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.frame3_ubisoft {
  opacity: 0;
  position: absolute;
  -webkit-animation: appear 20ms linear 3.2s forwards;
          animation: appear 20ms linear 3.2s forwards;
}
.frame3_trans {
  z-index: 10;
  -webkit-animation: disappear 20ms linear 7s forwards;
          animation: disappear 20ms linear 7s forwards;
}
.frame4_dvd {
  position: absolute;
  opacity: 0;
  z-index: 10;
  -webkit-animation: appear 20ms linear 7.1s forwards;
          animation: appear 20ms linear 7.1s forwards;
}
.frame4_button {
  opacity: 0;
  z-index: 10;
  position: absolute;
  -webkit-animation: hideshow 3s linear 7s infinite forwards;
          animation: hideshow 3s linear 7s infinite forwards;
}


/* --------------------- LIGHTBOX ---------------------- */

.ltbx {
  z-index: 10;
  /* -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset; */
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  
}
.ltbx_static {
  position: absolute;
  z-index: 15;
  /* margin-left: 10%;
  margin-right: 10%;
  width: 80%; */
  max-width: 100vw;


}
.ltbx_watchdogs {
  z-index: 15;
  /* position: fixed; */
  /* width: 80vw; */
      /* margin-left: 10%;
  margin-right: 10%;
  width: 80%; */
  max-width: 100vw;

  -webkit-animation: glitch, glitchUp, glitchDown, slowGlitch;
          animation: glitch, glitchUp, glitchDown, slowGlitch;
  -webkit-animation-duration: 600ms, 200ms, 100ms, 3s;
          animation-duration: 600ms, 200ms, 100ms, 3s;
  -webkit-animation-delay: 4s, 9s, 10s, 2s;
          animation-delay: 4s, 9s, 10s, 2s;
  -webkit-animation-iteration-count: 1, 1, 1, infinite;
          animation-iteration-count: 1, 1, 1, infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.ltbx_button_pre-order {
  z-index: 15;
  position: absolute;
  max-width: 100vw;
  
  /* margin-left: 10%;
  margin-right: 10%;
  width: 80%; */

  -webkit-animation: hideshow 3s linear infinite;
          animation: hideshow 3s linear infinite;
          
}
.ltbx_close {
  z-index: 15;
  position: absolute;
  max-width: 100vw;
  
  /* margin-left: 10%;
  margin-right: 10%;
  width: 80%; */
}

#button_frame {
  position: absolute;
  border: 2px solid red;
  z-index: 20;
  width: 100px;
  height:50px;
  max-width: 100vw;
  
  /* margin-left: 10%;
  margin-right: 10%;
  width: 80%; */

}